{% extends 'base.html' %}
{% load static %}
{% block title %}Helados{% endblock title %}

{% block contenido %}

{% for helado in helados %}

<div class="col-4 p-4">
    <div class="card bg-warning" style="width: 20rem;">
        <div class="card-body">
          <img src="/Home/resources/images/helados/artesanal/{{ helado.img }}" class="card-img-top">
          <div class="mt-3">
          <h5 class="card-title">{{ helado.name }}</h5>
          <p class="card-text">{{ helado.descripcion }}</p>
          <p class="card-text">Valor: ${{ helado.valor }} pesos.</p>
          </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock contenido %}